---
import Layout from '../../layouts/Layout.astro';
import {AstroMarkdown} from 'astro-markdown-render'
import {getDocuments, getEntry} from 'content-structure'

const {uid} = Astro.params;
console.log(`in [...uid] > uid = ${uid}`)

const entry = await getEntry({uid:uid})

export async function getStaticPaths(){
	const documents = await getDocuments({format:"markdown"})
	return documents.map((entry)=>({params:{uid:entry.uid}}))
}

---
<Layout title={entry.title}>
	<a href="/">Home</a>
	<hr/>
	<div class="instructions">
		<AstroMarkdown node={entry.tree} data={entry.data} />
	</div>
</Layout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
