---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/markdown/Marked.astro';
import AstroMarkdown from '../components/markdown/AstroMarkdown.astro'
import content from '../../gen/content.json'
import {promises as fs} from 'fs';
import matter from 'gray-matter';

const {url} = Astro.params;
console.log(`in [...url] > url = ${url}`)
const entry = content.filter((entry)=>(entry.url == url))[0]
const path = `./content/${entry.path}`
const text = await fs.readFile(path,'utf-8')
const {content:md_content, data:front_matter_data} = matter(text)

export async function getStaticPaths(){
	return content.map((entry)=>({params:{url:entry.url}}))
}

---
<Layout title={entry.title}>
	<a href="/">Home</a>
	<hr/>
	<div>Marked Renderer</div>
	<div class="instructions">
		<Markdown content={md_content} />
	</div>
	<hr/>
	<div>Astro Markdown Renderer</div>
	<div class="instructions">
		<AstroMarkdown content={md_content} data={entry} />
	</div>
</Layout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
