---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/renderers/Marked.astro';
import AstroMarkdown from '../components/renderers/AstroMarkdown.astro'
import documents from '../../public/index.json'
import {promises as fs} from 'fs';
import matter from 'gray-matter';
import {load_json} from '@/libs/utils'
import {config} from '@/config.js'
import {join} from 'path'

const {uid} = Astro.params;
console.log(`in [...uid] > uid = ${uid}`)
const entry = documents.filter((entry)=>(entry.uid == uid))[0]
console.log(`entry.path : '${entry.path}'`)
const path = join(config.rootdir,`content/${entry.path}`)
console.log(`path : '${path}'`)
const text = await fs.readFile(path,'utf-8')
const {content:md_content, data:front_matter_data} = matter(text)

const data_content = await load_json(join(config.content_out,"documents",entry.sid,"content.json"))
const tree = await load_json(join(config.content_out,"documents",entry.sid,"tree.json"))

export async function getStaticPaths(){
	return documents.map((entry)=>({params:{uid:entry.uid}}))
}

---
<Layout title={entry.title}>
	<a href="/">Home</a>
	<hr/>
	<div>Astro Markdown Renderer</div>
	<div class="instructions">
		<AstroMarkdown node={tree} data={data_content} />
	</div>
	<hr/>
	<div>comparision with Marked Renderer</div>
	<div class="instructions">
		<Markdown content={md_content} />
	</div>
</Layout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
