---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/markdown/Marked.astro';
import AstroMarkdown from '../components/markdown/AstroMarkdown.astro'
import pages from '../../pages.json'
import {promises as fs} from 'fs';
import matter from 'gray-matter';

const {slug} = Astro.params;
const path = `./content/${slug}`
const text = await fs.readFile(`${path}/readme.md`,'utf-8')
const {content, data} = matter(text)

export async function getStaticPaths(){
    return pages.map((entry)=>({params:{slug:entry.slug}}))
}

---
<Layout title={data.title}>
	<a href="/">Home</a>
	<hr/>
	<div>Marked Renderer</div>
	<div class="instructions">
		<Markdown content={content} />
	</div>
	<hr/>
	<div>Astro Markdown Renderer</div>
	<div class="instructions">
		<AstroMarkdown content={content} data={data} path={path}/>
	</div>
</Layout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
